.footer {
  display: flex;
  flex-direction: column;
  background-color: #e6b41f;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1rem;
  gap: 0.5rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.social a img {
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
}
.social a {
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 3px solid transparent;
  border-radius: 50%;
  transition: all 1s;
}
.social a:hover {
  border: 3px solid rgb(242, 243, 247);
}
.footer_links {
  margin-bottom: 1rem;
}
.footer_links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}
.footer_links ul a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}

.copyright {
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
