.container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1rem;
  width: 70rem;
  max-width: 90%;
  height: 60rem;
  border-radius: 10px;
}
.action {
  padding: 1rem;
  border-bottom: 2px dashed #000;
  margin-bottom: 0.5rem;
}
.action button {
  font-weight: bold;
  color: #938f3c;
  border: 2px solid #938f3c;
  border-radius: 5px;
  padding: 0.5rem 2.5rem;
  background-color: transparent;
  transition: all 1s;
}

.action button:hover,
.action button:active {
  border: 2px solid #5a560b;
  color: #5a560b;
  transform: scale(1.05);
}

.border_top img {
  width: 100%;
}
